@model TicketsReportModel

@{
    ViewData["Title"] = "Tickets Report";
}

<form asp-action="TicketsReport" asp-controller="Ticket">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-row">
        <div class="col">
            <div class="input-group date" id="datetimepicker1">
                <input type="datetime" asp-for="From" value="@Model.From" class="form-control" />
                <div class="input-group-addon input-group-append">
                    <div class="input-group-text">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="input-group date" id="datetimepicker1">
                <input type="datetime" asp-for="To" value="@Model.To" class="form-control" />
                <div class="input-group-addon input-group-append">
                    <div class="input-group-text">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <input type="submit" value="Get report" class="btn btn-outline-secondary" />
        </div>
    </div>
</form>

<br />
<br />

<table class="table">
    <tr>
        <th>Destination</th>
        <th>Tickets solt</th>
    </tr>
    @foreach (var report in Model.Report)
    {
        <tr>
            <td>@report.Destination</td>
            <td>@report.TicketsSolt</td>
        </tr>
    }
</table>

<h4>
    All tickets solt: @Model.TicketsSolt
</h4>

@section Scripts
{
    <script type="text/javascript">
        (function ($) {
            $(function () {
                $('.date').datetimepicker({
                    defaultDate: new Date(),
                    format: 'DD/MM/YYYY'
                });
            });
        })(jQuery);
    </script>
}